<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Hello, <%= username %>.</h1>
  <p><a href="/members">Members area</a></p>
  <p><a href="/logout">Log out</a></p>
</body>
</html>
